@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    overflow-x:hidden;
}
center{
    width: 100%;
}


.optionbox{
    display: flex;
    flex-direction: row;
    width:100%;
    text-align: center;
}

.optionbox button{
    max-width: 48%;
    padding: auto;
    margin-left: 2px;
    margin-right: 2px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Belgrano', serif;
}

.optionbox button:hover{
    color: #fff;
    background: linear-gradient(black,rgb(105, 115, 164));
}
.belgrano{
    font-family: 'Belgrano', serif;
}
body{
    overflow-x: hidden;
}

.bigbox{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr{
    margin-bottom: 8px;
}


/* Iframe Styling */

@media screen and (min-width: 480px) {
    /* Desktop */
    #contact-us-form{
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        height: 1150px;
    }
    #gmap{
        width: 80%;
        margin: 0 auto;
    }
    #frameWrap {
        position:relative;
        border: 1px solid #777777;
        background:#f0f0f0;
        box-shadow:0px 0px 10px #777777;
    }

    #contact-us-form {
        margin:0;
        padding:0;
        border:0;
    }

    #loader1 {
        position:absolute;
        left:48%;
        top:35%;
        width: 128px;
        height: 128px;
        border-radius:20px;
        border:1px solid #777777;
        background:#ffffff;
        box-shadow:0px 0px 10px #777777;
    }
    .optionbox{
        background: linear-gradient(black,rgb(0,0,0,0));
    }
    .optionbox button{
        padding: 15px 18%;
    }
}
@media screen and (max-width: 480px) {
    #contact-us-form{
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        height: 1200px;
    }

    #gmap{
        width: 100%;
    }
    #frameWrap {
        position:relative;
        border: 1px solid #777777;
        background:#f0f0f0;
        box-shadow:0px 0px 10px #777777;
    }

    #contact-us-form {
        margin:0;
        padding:0;
        border:0;
    }

    #loader1 {
        position:absolute;
        left:40%;
        top:35%;
        width: 50px;
        height: 50px;
        border-radius:20px;
        border-radius:20px;
        padding:25px;
        border:1px solid #777777;
        background:#ffffff;
        box-shadow:0px 0px 10px #777777;
    }
}


/* OptionBox Styling */

@media screen and (min-width: 1000px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        margin: 0 1px;
        border: none;
        background-color: black;
    }
    .optionbox button:focus{
        background: #F0F0F0;
        color: black;
        font-size: 16px;
        padding: none;
        border: none;
        font-weight: bold;
    }
}

/* Ipad View Same as Above */

/* Mobile View 480px */
@media (min-width:450px) and (max-width:1000px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        width: 30%;
        margin: 0 1px;
        border: none;
        background-color: black;
    }
    .optionbox button:focus{
        background: white;
        color: black;
        font-size: 16px;
        border: none;
        font-weight: bold;
    }
}

/* Iphone view Issue */

@media (min-width:300px) and (max-width:450px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        width: 48%;
        margin: 0 1px;
        border: none;
        background-color: black;
        padding: 5px 10%;
    }
    .optionbox button:focus{
        background: white;
        color: black;
        font-size: 16px;
        border: none;
        font-weight: bold;
    }
}