html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    overflow-x:hidden;
}
center{
    width: 100%;
}


.optionbox{
    display: flex;
    flex-direction: row;
    width:100%;
    text-align: center;
}

.optionbox button{
    max-width: 50%;
    min-width: 12%;
    padding: 1.5%;
    margin: 1%;
    border: 5px solid rgb(105, 115, 164);
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.optionbox button:hover{
    color: #fff;
    background: linear-gradient(black,rgb(105, 115, 164));
}

body{
    overflow-x: hidden;
}

.bigbox{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr{
    margin-bottom: 8px;
}

/* Iframe Styling */

@media screen and (min-width: 480px) {
    /* Desktop */
    #contact-us-form{
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        height: 1150px;
    }
    #gmap{
        width: 80%;
        margin: 0 auto;
    }
    #frameWrap {
        position:relative;
        border: 1px solid #777777;
        background:#f0f0f0;
        box-shadow:0px 0px 10px #777777;
    }

    #contact-us-form {
        margin:0;
        padding:0;
        border:0;
    }

    #loader1 {
        position:absolute;
        left:48%;
        top:35%;
        width: 128px;
        height: 128px;
        border-radius:20px;
        border:1px solid #777777;
        background:#ffffff;
        box-shadow:0px 0px 10px #777777;
    }
}
@media screen and (max-width: 480px) {
    #contact-us-form{
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        height: 1200px;
    }

    #gmap{
        width: 100%;
    }
    #frameWrap {
        position:relative;
        border: 1px solid #777777;
        background:#f0f0f0;
        box-shadow:0px 0px 10px #777777;
    }

    #contact-us-form {
        margin:0;
        padding:0;
        border:0;
    }

    #loader1 {
        position:absolute;
        left:40%;
        top:35%;
        width: 50px;
        height: 50px;
        border-radius:20px;
        border-radius:20px;
        padding:25px;
        border:1px solid #777777;
        background:#ffffff;
        box-shadow:0px 0px 10px #777777;
    }
}