body{
    overflow-x: hidden;
}
.fixed-left{
    position: fixed;
    color: white;
    z-index: 0;
}



.left-nav-link{
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.left-nav-link:hover{
    color: black;
    background-color: rgb(105, 115, 164);
    text-decoration: none;
    text-transform: capitalize;
}

.left-nav-item{
    margin: 10px auto;
}

@media (min-width:600px) {
    /* Desktop CSS */ 
    .z-indez-top{
        z-index: 10;
    }    
    #links_list{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }
    
}
@media (max-width:600px) {
    /* Mobile CSS */
    .z-indez-top{
        z-index: -1;
    }    
    .fixed-left{
        margin-top:70px;
        position: fixed;
        color: white;
        z-index: 100;
    }
    #links_list{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    
}