html, body {
    max-width: 100%;
    overflow-x: hidden;
}

center{
    width: 100%;
}


.optionbox{
    display: flex;
    flex-direction: row;
    width:100%;
    text-align: center;
}

.optionbox button{
    max-width: 50%;
    min-width: 12%;
    padding: 1.5%;
    margin: 1%;
    border: 5px solid rgb(105, 115, 164);
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.optionbox button:hover{
    color: #fff;
    background: linear-gradient(black,rgb(105, 115, 164));
}

body{
    overflow-x: hidden;
}

.bigbox{
    width: 100%;
    margin-top: 50px;
}

/* Iframe Styling */

#our-cars-iframe , .framebox{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow: hidden;
    height: 2000px;
}