@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#hr40{
    color: #fff;
    background: #fff;
    margin: 0 auto;
    margin-top: 7px;
    width: 10%;
    display: none;
    margin-bottom: 0;
    height: 5px;
    border-radius: 2.5px;
}
center{
    width: 100%;
}
#i40:hover{
    hr{
        display: block;
    }
}
#i40,#i31,#i30,#i21,#i20,#i10,button{
    font-family: 'Kanit', sans-serif;
}

.optionbox{
    display: flex;
    flex-direction: row;
    width:100%;
    text-align: center;
}

.optionbox button{
    max-width: 50%;
    min-width: 12%;
    padding: 1.5%;
    margin: 1%;
    border-top: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.optionbox button:hover{
    color: #fff;
    background: linear-gradient(black,rgb(105, 115, 164));
}

body,html{
    overflow-x: hidden;
 }

.bigbox{
    width: 100%;
    margin-top: 50px;
}

.optionbox button div{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/* Iframe Styling */

@media screen and (min-width: 480px) {
    #our-cars-iframe , .framebox{
        max-width: 100%;
        min-width: 100%;
        height: 2500px;
        overflow: hidden;
    }
}
@media screen and (max-width: 480px) {
    #our-cars-iframe , .framebox{
        max-width: 100%;
        min-width: 100%;
        height: 3000px;
        overflow: hidden;
    }
    
}

/* OptionBox Styling */

@media screen and (min-width: 1000px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        width: 16%;
        margin: 0 1px;
        border: none;
        background-color: black;
    }
    .optionbox button:focus{
        background: white;
        color: black;
        font-size: 16px;
        padding: none;
        border: none;
        font-weight: bold;
    }
}

/* Ipad View Same as Above */

/* Mobile View 480px */
@media (min-width:450px) and (max-width:1000px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        width: 30%;
        margin: 0 1px;
        border: none;
        background-color: black;
    }
    .optionbox button:focus{
        background: white;
        color: black;
        font-size: 16px;
        padding: none;
        border: none;
        font-weight: bold;
    }
}

/* Iphone view Issue */

@media (min-width:300px) and (max-width:450px) {
    .optionbox{
        background: black;
        padding-bottom: 0;
    }
    .optionbox button{
        width: 48%;
        margin: 0 1px;
        border: none;
        background-color: black;
    }
    .optionbox button:focus{
        background: white;
        color: black;
        font-size: 16px;
        padding: none;
        border: none;
        font-weight: bold;
    }
}