html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.optionbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    text-align: center;
}

.optionbox div{
    align-content: stretch;
    max-width: 50%;
    min-width: 16%;
    padding: 1.5%;
    margin: 1%;
    justify-content: center;
    border: 5px solid rgb(105, 115, 164);
    background-color: black;
    color: white;
    text-transform: uppercase;
}

body{
    overflow-x: hidden;
}

/* Iframe Styling */

#our-cars-iframe , .framebox{
    min-width: 100%;
    width: 100%;
    height: auto;
}