body{
  background-color: black;
}


.logo{
  padding: 20px;
}

#link_list{
  display: inline;
  color: white;
  text-decoration: none;

}

#link_list li{
  padding: 5px;
  display: inline;
  color: rgb(255, 255, 255);
}

#link_list li:hover{
  background-color: white;
  color: black;
}


#btns{
  padding:20px;
  background:#f4f4f4;
  margin-bottom:20px;
}

#btns button{
  background:#fff;
  padding:5px 10px;
  border:0;
}

#btns .fa{
  font-size:30px;
}

#btns .fa-play-circle{
  color:green;
}

#btns .fa-pause-circle{
  color:red;
}