@import url('https://fonts.googleapis.com/css?family=Orbitron');
@font-face {
  font-family: "Batman";
  src:
  url("../../font/batman.ttf") format("truetype");
}
body,html{
  overflow-x: hidden;
}
/* Forward */
.comp_name{
  font-family: "Batman",Arial, sans-serif;
}

.list-group-item , .list-group-item p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.list-group-item {
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  
  .list-group-item:hover, .list-group-item:focus, .list-group-item:active {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    text-decoration: bold;
    font-weight: bold;
    color: white;
    font-size: 23px;
  }
.list-group-item:nth-child(4n):hover, .list-group-item:nth-child(4n):focus, .list-group-item:nth-child(4n):active {
    background-color: #4285F4;
}
  
.list-group-item:nth-child(4n+1):hover, .list-group-item:nth-child(4n+1):focus, .list-group-item:nth-child(4n+1):active {
    background-color: #DB4437;
}
  
.list-group-item:nth-child(4n+2):hover, .list-group-item:nth-child(4n+2):focus, .list-group-item:nth-child(4n+2):active {
    background-color: #F4B400;
}
  

.list-group-item:nth-child(4n+3):hover, .list-group-item:nth-child(4n+3):focus, .list-group-item:nth-child(4n+3):active {
    background-color: #0F9D58;
}
  

.bigbox{
  margin-top: 60px;
  margin-bottom: 30px;
}

/* Onimage List */
.container2 {
  position: relative; 
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container2 .content {
  position: absolute; /* Position the background text */
  left: 0; /* At the bottom. Use top:0 to append it to the top */
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  height: 100%; /* Full width */
  padding: 0 20px; /* Some padding */
}

@media only screen and (max-width: 600px) {
  /* mobile Css */
  .list-group-item {
    font-size: 15px;
  }
  .img-fluid{
    width: 100%;
    height: auto;
  }

}

@media only screen and (min-width: 600px) {
  /* Desktop CSS Css */
  .img-fluid{
    display: none;
  }
  .list-group-item {
    font-size: 20px;
  }
  .row{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .row-fb19{
    background: url("/images/laurels/Original/img1-FB19.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .concept18{
    background: url("/images/laurels/Original/img2-Concept-challenge.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .sae18{
    background: url("/images/laurels/Original/img3-Fireblade-4.0.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .fb18{
    background: url("/images/laurels/Original/img4-Fireblade-3.1-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .sae17{
    background: url("/images/laurels/Original/img5-fireblade-3.0.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .fb17{
    background: url("/images/laurels/Original/img6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .sae16{
    background: url("/images/laurels/Original/img7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .sae15{
    background: url("/images/laurels/Original/img8.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .container .row:nth-child(even){
    min-height: 500px;
  }
}