*{
    margin: 0%;
    padding :0%;
}

#paragraph-one{
    display: block;
    width: 30%;
    height: 700px;
    text-align: center;
    float: left;
}

#image-one{
    float: right;
    width: 100%;
    height: 700px;
    z-index: 0;
}



#graphic1{
    z-index: 2;
    float: left;
}