.box{

}   
   .graphic1{
        height: 700px;
        width: 30%;
        background-color: rgb(117, 10, 117);
        left: 0%;
        position: relative;
    }

    .parent1{
        height: 700px;
        width: 70%;
        background-color: aqua;
        left: 30%;
        top: 0%;
        position: absolute;
    }

    *{
        position: unset;
    }


    .graphic2{
        height: 700px;
        width: 30%;
        background-color: rebeccapurple;
        position: relative;
    }

    .parent2{
        height: 700px;
        width: 70%;
        background-color: rgb(105, 248, 100);
        left: 30%;
        top:725px;
        position: absolute;
    }

    .graphic3{
        height: 700px;
        width: 30%;
        background-color: rgb(204, 223, 39);
       
    }

    .parent3{
        height: 700px;
        width: 70%;
        background-color: rgb(236, 126, 163);
        left: 30%;
        top:0;
    }

    #card1{
        margin: auto 10px;
        padding: auto auto;
    }