@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');
@font-face {
  font-family: "Batman";
  src:
  url("../../font/batman.ttf") format("truetype");
}
body,html{
  overflow-x: hidden;
}
.bigbox{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img-top{
    border-radius: 50%;
}
@media (min-width:600px){
/* Spoonsers Animation Rotate 360*/

  /* Align for Part 2*/
/* Desktop CSS */
.foading{
}    

.foading img{
  transform: all 0.5s ease;
}


.foading:hover img{
  transform: scale(1.5);
}
@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}
  .img-div{
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
  }
  .foading{
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 50%;
    /*border-top: 10px solid #e74c3c;*/
    position: relative;
  }
  
  .bard{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    padding: 0 auto;
    align-content: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

}

@media (max-width: 600px){
      
@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}
  .img-div{
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
  }
  .foading{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    /*border-top: 10px solid #e74c3c;*/
    position: relative;
  }
  
  .foading::before,.foading::after{
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .foading::before{
    /*border-top: 10px solid #e67e22;*/
    transform: rotate(120deg);
  }
  
  .foading::after{
    /*border-top: 10px solid #3498db;*/
    transform: rotate(240deg);
  }
  /*
  .foading img:hover{
    animation: a1 2s linear infinite;
  }
*/
  .bard{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    padding: 0 auto;
    align-content: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
}
 .card-body h3 , .card-body h3:hover {
    text-decoration: none;
  }

  .batman{
    font-family: "Batman",Arial, sans-serif;
  }

  .hidelink:hover{
    text-decoration: none;
  }

