@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');

@font-face {
    font-family: "Batman";0
    src:
    url("../../font/batman.ttf") format("truetype");
}
body,html{
    overflow-x: hidden;
}
.inner > div > h3{
    font-family: 'Belgrano', serif;
    color: #fff;
}

div ul li{
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.inner > div > p{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
}

.batman,header > h1{
    font-family: 'Belgrano', serif;
    font-size: 20px;
}

@media (max-width:600px) {

}
@media (min-width:768px) {
    .page .container{
        top : 50px;
    }
}

/* Mobile CSS */
@media (max-width:600px) {
    .bigbox{
        margin-top:100px;
    }

    .hide-if-js{
        display: none;
    }
}

@media (min-width:900px) {
    /* MP5 Framework */
    /* Styling for Images */
    .mp5-img-left{
        left : 0;
        top : 0;
        bottom: 0;
    }
    .mp5-img-right{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .mp5-img-top-left{
        left: 0;
        top: 0;
        bottom: auto;
    }
    .mp5-img-top-right{
        right: 0;
        top: 0;
        bottom: auto;
    }
    /* Styling for Paragraphs  */
    .mp5-p-left-half{
        max-width: 48%;
        left: 0;
        top: 0;
    }
    .mp5-p-right-half{
        position: absolute;
        max-width: 48%;
        right: 0;
        top: 0;
        color: #fff;
        z-index: 10;
    }
    
    .inner img{
        max-width: 50%;
        height: 250px;
    }
    .img-full-size {
        height: 350px;
    }
    .mp5-p-bottom-full{
        margin: 0 auto;
        margin-top: 280px;
        color: #fff;
        width: 96%;
    }
    .mp5-p-top-full{
        width:96%;
        color: #fff;
        margin: 0 auto;
    }

    .m-top-180{
        margin-top: 180px;
        color: #fff;
    }

    .m-top-220{
        margin-top: 220px;
        color: #fff;
    }
    .max100{
        max-width: 96%;
        margin: 0 auto;
    }
    .list-div-vic{
        margin-left: 200px;
        
    }
    .top-240{
        margin-top: 240px;
    }
}

@media (min-width:900px) {
    /* Formula Bharat 2019 */
    .auto-center-img{
        margin: 0 auto;
    }
    .hieght{
        height: 200px;
    }
    .right-img{
        position: absolute;
        right: 0;
        top: 0;
    }
    .m-top-250{
        margin-top: 250px;
    }
    .m-top-300{
        margin-top: 300px;
    }
}

@media (min-width:900px) {
    /* Formula Bharat 2018 */
    .m-top-300{
        margin-top: 300px;
    }
    .p-top{
        position: absolute;
        top: 0;
    }
    .p-bottom{
        position: absolute;
    }
    .m-top-150{
        margin-top: 150px;
    }
    .img-full-right{
        margin-top: -200px;
        right: 0;
        z-index: -1;
        position: absolute;
        
    }
}

@media (min-width:900px) {
    .inner{
        margin-top: 5px;
    }
    .px80{
        position: absolute;
        min-height: 0px;
        bottom: 10px;
        top: 230px;
        width: 100%;
        max-width: 1200px;
        left: 0;
        right: 0;
        z-index: 10
        margin-top: -80px;
    }
}