@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');

@font-face {
    font-family: "Batman";
    src:
    url("../font/batman.ttf") format("truetype");
}
h4{
    font-family: 'Belgrano', serif;
}
table tr td:nth-child(odd){
    width: 40%;
}

table tr td:nth-child(even){
    width: 60%;
}

h2{
    font-family: 'Belgrano', serif;
    font-weight: bold;
}
tr{
    font-family: 'Titillium Web', sans-serif;
}
table{
    min-width: 100%;
  
}

/* Desktop CSS */
@media only screen and (min-width: 600px) {
    .img-fluid{
        width: 70%;
        z-index: 100;
    }
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
    .img-background img{
        width: 100%;
    }
}