.item img{
  width:100%;
}

.card-deck{
  display: flex;
  flex-direction: row wrap;
  width: 100%;
}

.card-deck .card{
  max-width: 50%;
  width: 33.33%;
}

.card img{
  max-width: 50%;
}

body{
  max-width: 100%;
}

.padding10{
  padding-left: 10%;
  padding-right: 10%;
}

.Sponser_box{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: auto auto;
  margin: auto auto;
}

.Sponser_box .card{
  max-width: 50%;
  min-width: 33%;
}
.bodybox{
  width: 100%;
  height: auto;
  margin-top:10px;
}

.item img{
  max-height: 700px;
}