body{
  overflow-x: hidden;
}

.item img{
  width:100%;
}

.card-deck{
  display: flex;
  flex-direction: row wrap;
  width: 100%;
}

.card-deck .card{
  max-width: 50%;
  width: 33.33%;
}

.card img{
  max-width: 50%;
}

body{
  max-width: 100%;
}

.padding10{
  padding-left: 10%;
  padding-right: 10%;
}

.Sponser_box{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: auto auto;
  margin: auto auto;
}

.Sponser_box .card{
  max-width: 50%;
  min-width: 33%;
}
.bodybox{
  width: 100%;
  height: auto;
  margin-top:10px;
}

.item img{
  max-height: 700px;
}

/* Slide Show Icon Styling */

.carousel-control{
  display: flex;
  justify-content: center;
}

.carousel-control img{
justify-content: center;
top:0;
bottom: 0;
margin: auto;
}
@media (max-width:576px) {
  .carousel-control img{
    width: 30px;
    height: 30px;
  }
}
/* about us Width */

.home-about-us{
  width: 85%;
  margin: 0 auto;
}

/* Sponsers Card Text Centering */

.card-body{
  left: 0;
  right: 0;
  padding: 0 auto;
}