@font-face {
  font-family: "Batman";
  src:
  url("../../font/batman.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Belgrano|Julius+Sans+One|Kanit|Titillium+Web&display=swap');

body,html{
  overflow-x: hidden;
}
/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Belgrano', serif;
*/
h5{
  padding: 0;
  margin: 0;
  margin-top: 0;
  clear: all;
}

.card{
  text-align: center;
  align-content: center;
  justify-content: center;
}

body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

h4,a{
  font-family: 'Open Sans', sans-serif;
}

.normal{
  font-family: 'Titillium Web', sans-serif;
}

.batman{
  font-family: "Batman",Arial, sans-serif;
}

.item img{
  width:100%;
}

.card-deck{
  display: flex;
  flex-direction: row wrap;
  width: 100%;
}

.card-deck .card{
  max-width: 50%;
  width: 33.33%;
}


body{
  max-width: 100%;
}

.padding10{
  padding-left: 10%;
  padding-right: 10%;
}

.Sponser_box{
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: auto auto;
  margin: auto auto;
}

.Sponser_box .card{
  max-width: 50%;
  min-width: 33%;
}
.bodybox{
  width: 100%;
  height: auto;
  margin-top:10px;
}

.item img{
  max-height: 700px;
}

/* Slide Show Icon Styling */

.carousel-control{
  display: flex;
  justify-content: center;
}

.carousel-control img{
justify-content: center;
top:0;
bottom: 0;
margin: auto;
}
@media (max-width:576px) {
  /* mobile css */
  .carousel-control img{
    width: 30px;
    height: 30px;
  }
  .bodybox{
    margin-bottom: 8px;
  }
}

@media (min-width : 600px){
  /* Desktop CSS */
  .card img{
    border-radius: 50%;
  }

  .fcd h5,.scd h5,.tcd h5{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
  }
  
  .fcd,.scd,.tcd{
     width: 200px;
     height: 50px;
     transform: skew(-15deg);
     padding: 2.5px 0;
  }
  
  .fcd{
    background-color: #4285F4;
  }
  .scd{
    background-color: #DB4437;
  }
  .tcd{
    background-color: #0F9D58;
  }
  .bodybox{
    margin-bottom: 15px;
  }
  .foading img{
    border-radius: 50%;
    border-radius:50 vh;
  }
  .Sponser_box .card a .card-body{
    width: 60%;
    height: 40px;
    color: #fff;
    margin-top:8px;
    margin-bottom: 8px;
  }
  .Sponser_box .card a .card-body h4{
    color: #000000;
    padding-top: 5px;
  }

  .count{
    max-width: 40%;
  }
}

@media (max-width : 600px){
  /* mobile CSS*/
  .card img{
    max-width: 60%;
  }
  .fcd h5,.scd h5,.tcd h5{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
  }
  .card-body{
    margin-top: 5px;
  }
  .fcd,.scd,.tcd{
     width: 95%;
     height: 40px;
     transform: skew(-15deg);
     padding: 2.5px 0;
  }
  
  .fcd{
    background-color: #4285F4;
  }
  .scd{
    background-color: #DB4437;
  }
  .tcd{
    background-color: #0F9D58;
  }
}
/* about us Width */

.home-about-us{
  width: 85%;
  margin: 0 auto;
}

/* Sponsers Card Text Centering */

.card-body{
  left: 0;
  right: 0;
  margin: 10px auto 0 auto;
}

/* Sponsers Card Animation Styling */
@media (min-width : 600px){
  /* Desktop CSS */
.spons-img{
  max-width: 95%;
}
.foading{
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.foading{
width: 180px;
height: 180px;
box-sizing: border-box;
border-radius: 50%;
/*border-top: 10px solid #e74c3c;*/
position: relative;
}

.foading::before,.foading::after{
content: '';
width: 180px;
height: 180px;
position: absolute;
left: 0;
box-sizing: border-box;
border-radius: 50%;
}

.foading::before{
/*border-top: 10px solid #e67e22;*/
transform: rotate(120deg);
}

.foading::after{
/*border-top: 10px solid #3498db;*/
transform: rotate(240deg);
}
}