
@import url('https://fonts.googleapis.com/css?family=Orbitron');

img{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
/*
.p1{
    background-color: #4285F4;
    color: black;
}

.p2{
    background-color: #DB4437;
    color: black;
}*/

.quote_bg{
    background-color: rgb(244, 180, 0,0.3);
    color: black;
}
/*
.p3{
    background-color: #0F9D58;
    color: black;
}

.img1{
    border: 15px solid#F4B400;
    border-bottom: none;
}

.img2{
    border: 15px solid#0F9D58;
    border-top: none;
    border-bottom: none;
}

.img3{
    border-left: 15px solid#4285F4;
    border-right: 15px solid#4285F4;
    border-top:none;
    border-bottom: none;
}

.img4{
    border-left: 15px solid #DB4437;
    border-right: 15px solid #DB4437;
    border-top:none;
    border-bottom: 15px solid #DB4437;
}*/

/* Bootstrap Code edit */

.row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.quote{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
p{
    font-size: 20px;
}
.para{
    margin: auto 0%;
}

/* Wobbling Paragraphs */ 
