#fixed_bar{
    position: fixed;
    left:0;
    top:0px;
    height: 1700px;
    background-color: rgb(1, 221, 221);
}

.dept_name{
    padding: 5px;
    width: 100%;
    background-color:black;
    color: white;
}