#navbarSupportedContent{
    float: right;
}

.navbar-nav mr-auto{
    float: right;
}

.nav-link{
    background-color: rgb(58, 4, 4);
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 10px;
}

.nav-link:hover{
    background-color: white;
    color: black;
}